<div class="tree-item" *ngFor="let item of treeList">
  <div class="tree-item-row"
        (click)="selectedItem(item)"
        [class.tree-item-row-selected]="!(item.children && item.children.length) && item.selected"
        fxLayout="row" 
        fxLayoutAlign="flex-start center">
        <!-- <button mat-button > -->
          <mat-icon
          *ngIf="item.children && item.children.length && item.expanded"
          >keyboard_arrow_down</mat-icon>
          <mat-icon
          *ngIf="!(item.children && item.children.length && item.expanded)"
          >keyboard_arrow_right</mat-icon>
          {{item.text}}
           <mat-icon
          *ngIf="item.icon"
          >{{item.icon}}</mat-icon>
        <!-- </button> -->
       
  </div>
  <div 
        *ngIf="item.children && item.children.length && item.expanded"
        [style.marginLeft]="'2.631em'"
        >
        <tree-item 
        [treeList]="item.children" 
        (itemSelected)="selectedItem($event)">
        </tree-item>
    </div>
</div>